*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  text-indent: 15px;
  text-align: justify;
}

header a {
  color: white;
}

header a:hover {
  color: rgb(16, 223, 26);
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

header {
  position: fixed;
  /* display: block; */
  height: auto;
  width: 100%;
  left: 0px;
  top: 0px;
  /* margin-bottom: 300px; */
  padding: 0px;
  background-color: rgb(10, 2, 53);
  border: 1px dashed #2196f3;
  color: white;
  z-index: 3;
}

main {
  /* display: block; */
  /* margin-top: 20px; */
}

h1 {
  margin-top: 120px;
}

/* Tranzitions */
.body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9fd;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set transition values  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* On hover, change the values of animated properties */
.box:hover {
  background-color: teal;
  transform: rotate(180deg);
}

/* Tranzition-duration */
.duration-body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px;
}

.flex-container {
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition-property: transform;
}

.flex-container:hover .circle {
  transform: scale(1.5);
}

.circle:nth-child(1) {
  background-color: orange;

  transition-duration: 500ms;
}

.circle:nth-child(2) {
  background-color: #03a9f4;

  transition-duration: 1500ms;
}

.circle:nth-child(3) {
  background-color: palevioletred;

  transition-duration: 3000ms;
}

/* Tranzition-timing */
.timing-body {
  font-family: sans-serif;
  text-align: center;
}

.h1 {
  font-size: 24px;
}

.timing-container {
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  padding: 10px;
}

.timing-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: translatex(0);
  transition-property: transform;
  transition-duration: 2000ms;
}

.timing-circle:not(:last-child) {
  margin-bottom: 5px;
}

.timing-container:hover .timing-circle {
  transform: translatex(calc(100vw - 146px));
}

.timing-circle:nth-child(1) {
  background-color: #f44336;
  transition-timing-function: linear;
}

.timing-circle:nth-child(2) {
  background-color: #3f51b5;
  transition-timing-function: ease;
}

.timing-circle:nth-child(3) {
  background-color: #00bcd4;
  transition-timing-function: ease-in;
}

.timing-circle:nth-child(4) {
  background-color: #4caf50;
  transition-timing-function: ease-out;
}

.timing-circle:nth-child(5) {
  background-color: #ffeb3b;
  transition-timing-function: ease-in-out;
}

.timing-circle:nth-child(6) {
  background-color: #e91e63;
  transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

/* Tranzition-delay */
.delay-body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delay-box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

  /*  We set the transition delay to half a second.  */
  transition-delay: 500ms;
}

.delay-box:hover {
  background-color: teal;
  transform: rotate(180deg);
}

/* Tranzition */
.transition-body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  We set the transition values.  */
  transition: background-color 500ms linear, transform 500ms ease-in-out;
}

/* When hovering, we change the values of the animated properties. */
.transition-box:hover {
  background-color: teal;
  transform: rotate(280deg);
}

/* Delay-script */
.delay-script-body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delay-script-box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  We set the transition values.  */
  transition: background-color 500ms linear, transform 500ms ease-in-out 500ms;
}

.delay-script-box:hover {
  background-color: teal;
  transform: rotate(380deg);
}

/* Animation-duration */
.animation-body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f9f9fd;
}

.animation-box {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Adds animation when hovering. */
.animation-box:hover {
  animation-name: changeBgColor;
  animation-duration: 3000ms;
}

@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

/* Iteration-count */
.img-iteration {
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Animation-direction */
.animation-direction-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: sans-serif;
  background-color: #f9f9fd;
  color: #fff;
}

.animation-direction-box {
  width: 150px;
  padding: 4px 8px;
  border: 2px solid #212121;
  border-radius: 4px;
  text-align: center;

  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animation-direction-box:nth-child(1) {
  animation-direction: normal;
  background-color: #3f51b5;
}

.animation-direction-box:nth-child(2) {
  animation-direction: reverse;
  background-color: #f57c00;
}

.animation-direction-box:nth-child(3) {
  animation-direction: alternate;
  background-color: #009688;
}

.animation-direction-box:nth-child(4) {
  animation-direction: alternate-reverse;
  background-color: #e91e63;
}

@keyframes move {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(calc(100vw - 166px));
  }
}

/* Animation-fill */
.animation-fill-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.animation-fill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: #fff;
  font-family: sans-serif;
  text-align: center;
}

.animation-fill-box:hover {
  animation-name: changeBgColor;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1500ms;
}

.animation-fill-box:nth-child(1) {
  /* Default value  */
  animation-fill-mode: none;
}

.animation-fill-box:nth-child(2) {
  animation-fill-mode: forwards;
}

.animation-fill-box:nth-child(3) {
  animation-fill-mode: backwards;
}

.animation-fill-box:nth-child(4) {
  animation-fill-mode: both;
}

@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

/* Animation-play-state */
.animation-play-state-body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f9f9fd;
}

.animation-play-state-box {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  animation-name: changeBgColor;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Pause animation on hover */
.animation-play-state-box:hover {
  animation-play-state: paused;
}

@keyframes changeBgColor {
  0% {
    background-color: deeppink;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

/* Perspective */
.perspective-body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f9f9fd;
}

.perspective-scene {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.perspective-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*   transition: transform 0.5s ease-in-out; */
}

.perspective-box.rotate-x {
  /*   transform: rotateX(60deg); */
  animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.perspective-box.rotate-y {
  /*   transform: rotateY(60deg); */
  animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.perspective-box.rotate-x {
  background-color: tomato;
}

.perspective-box.rotate-y {
  background-color: blue;
}

.perspective-scene + .perspective-scene {
  margin-left: 50px;
}

.perspective-container {
  display: flex;
}

@keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(60deg);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(60deg);
  }
}

/* Perspective-function */
.perspective-function-body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f9f9fd;
}

.perspective-function-scene {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.perspective-function-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*   transition: transform 0.5s ease-in-out; */
}

.perspective-function-box.rotate-x {
  /*   transform: perspective(400px) rotateX(45deg); */
  animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.perspective-function-box.rotate-y {
  /*   transform: perspective(400px) rotateY(45deg); */
  animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.perspective-function-box.rotate-x {
  background-color: tomato;
}

.perspective-function-box.rotate-y {
  background-color: blue;
}

.perspective-function-scene + .perspective-function-scene {
  margin-left: 50px;
}

.perspective-function-container {
  display: flex;
}

@keyframes rotateX {
  0% {
    transform: perspective(400px) rotateX(0deg);
  }

  100% {
    transform: perspective(400px) rotateX(60deg);
  }
}

@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(60deg);
  }
}

/* Poly-perspective */
.poly-perspective-body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9fd;
}

.poly-perspective-scene {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 390px;
  border: 3px solid black;
  border-radius: 4px;
  margin: -10px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.poly-perspective-box {
  flex-basis: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  We set the perspective for each element separately.  */
  /*   transform: perspective(400px) rotateY(45deg); */
  animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.poly-perspective-box:nth-child(1) {
  background-color: #f44336;
}

.poly-perspective-box:nth-child(2) {
  background-color: #9c27b0;
}

.poly-perspective-box:nth-child(3) {
  background-color: #3f51b5;
}

.poly-perspective-box:nth-child(4) {
  background-color: #03a9f4;
}

.poly-perspective-box:nth-child(5) {
  background-color: #009688;
}

.poly-perspective-box:nth-child(6) {
  background-color: #4caf50;
}

.poly-perspective-box:nth-child(7) {
  background-color: #ffc107;
}

.poly-perspective-box:nth-child(8) {
  background-color: #795548;
}

.poly-perspective-box:nth-child(9) {
  background-color: #e91e63;
}

@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(60deg);
  }

  100% {
    transform: perspective(400px) rotateY(-60deg);
  }
}

/* Perspective-proprety */
.one-perspective-body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9fd;
}

.one-perspective-scene {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 390px;
  border: 3px solid black;
  border-radius: 4px;
  margin: -10px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set the perspective of the entire scene.  */
  perspective: 400px;
}

.one-perspective-box {
  flex-basis: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 4px;
  transform: rotateY(45deg);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.one-perspective-box:nth-child(1) {
  background-color: #f44336;
}

.one-perspective-box:nth-child(2) {
  background-color: #9c27b0;
}

.one-perspective-box:nth-child(3) {
  background-color: #3f51b5;
}

.one-perspective-box:nth-child(4) {
  background-color: #03a9f4;
}

.one-perspective-box:nth-child(5) {
  background-color: #009688;
}

.one-perspective-box:nth-child(6) {
  background-color: #4caf50;
}

.one-perspective-box:nth-child(7) {
  background-color: #ffc107;
}

.one-perspective-box:nth-child(8) {
  background-color: #795548;
}

.one-perspective-box:nth-child(9) {
  background-color: #e91e63;
}

@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(60deg);
  }

  100% {
    transform: perspective(400px) rotateY(-60deg);
  }
}

/* Scale */
.scale-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale-box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.scale-box::before {
  display: inline-block;
  font-size: 20px;
}

.scale-box:nth-child(1) {
  /*   transform: scale(1.25); */
  background-color: orange;

  animation: animate125 3000ms infinite 1000ms;
}

.scale-box:nth-child(1)::before {
  content: "scale(1.25)";
}

.scale-box:nth-child(2) {
  /*  Original size, default value  */
  /*   transform: scale(1); */
  background-color: #03a9f4;
}

.scale-box:nth-child(2)::before {
  content: "scale(1)";
}

.scale-box:nth-child(3) {
  /*   transform: scale(0.75); */
  background-color: palevioletred;

  animation: animate75 3000ms infinite 1000ms;
}

.scale-box:nth-child(3)::before {
  content: "scale(0.75)";
}

@keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate75 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

/* Rotate */
.rotate-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.rotate-box::before {
  display: inline-block;
  font-size: 20px;
}

.rotate-box:nth-child(1) {
  /*   transform: rotate(30deg); */
  background-color: orange;

  animation: animate30 3000ms infinite 1000ms;
}

.rotate-box:nth-child(1)::before {
  content: "rotate(30deg)";
}

.rotate-box:nth-child(2) {
  /*   transform: rotate(115deg); */
  background-color: #03a9f4;

  animation: animate115 3000ms infinite 1000ms;
}

.rotate-box:nth-child(2)::before {
  content: "rotate(115deg)";
}

.rotate-box:nth-child(3) {
  /*   transform: rotate(-45deg); */
  background-color: palevioletred;
  animation: animate45 3000ms infinite 1000ms;
}

.rotate-box:nth-child(3)::before {
  content: "rotate(-45deg)";
}

@keyframes animate30 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes animate115 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(115deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes animate45 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Translate */
.translate-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.translate-box {
  width: 200px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.translate-box::before {
  font-size: 16px;
}

.translate-box:nth-child(1) {
  /*   transform: translateX(50px); */

  animation: animateX50 3000ms infinite 1000ms;
  background-color: orange;
}

.translate-box:nth-child(1)::before {
  content: "translateX(50px)";
}

.translate-box:nth-child(2) {
  /*   transform: translateY(110px); */

  animation: animateY110 3000ms infinite 1000ms;
  background-color: #03a9f4;
}

.translate-box:nth-child(2)::before {
  content: "translateY(110px)";
}

.translate-box:nth-child(3) {
  /*   transform: translate(-50px, -100px); */

  animation: animateX50Y100 3000ms infinite 1000ms;
  background-color: palevioletred;
}

.translate-box:nth-child(3)::before {
  content: "translate(-50px, -100px)";
}

@keyframes animateX50 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animateY110 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(110px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateX50Y100 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50px, -100px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* Center */
.center-parent {
  position: relative;
  max-width: 500px;
  height: 300px;
  border: 10px solid #303f9f;
  border-radius: 10px;
  background-color: #3f51b5;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;
  border: 10px solid #ffa000;
  border-radius: 10px;
  background-color: #ffc107;
}

/* Distorsion */
.distorsion-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.distorsion-box {
  width: 180px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.distorsion-box::before {
  display: inline-block;
  font-size: 16px;
}

.distorsion-box:nth-child(1) {
  /*   transform: skewX(30deg); */

  animation: animateX30 3000ms infinite 1000ms;
  background-color: orange;
}

.distorsion-box:nth-child(1)::before {
  content: "skewX(30deg)";
}

.distorsion-box:nth-child(2) {
  /*   transform: skewY(30deg); */

  animation: animateY30 3000ms infinite 1000ms;
  background-color: #03a9f4;
}

.distorsion-box:nth-child(2)::before {
  content: "skewY(30deg)";
}

.distorsion-box:nth-child(3) {
  /*   transform: skew(30deg, 30deg); */

  animation: animateX30Y30 3000ms infinite 1000ms;
  background-color: palevioletred;
}

.distorsion-box:nth-child(3)::before {
  content: "skew(30deg, 30deg)";
}

@keyframes animateX30 {
  0% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewX(30deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

@keyframes animateY30 {
  0% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewY(30deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

@keyframes animateX30Y30 {
  0% {
    transform: skew(0deg);
  }

  50% {
    transform: skew(30deg, 30deg);
  }

  100% {
    transform: skew(0deg);
  }
}

/* Origin */
:root {
  --dot-size: 16px;
}

.origin-body {
  background-color: #fff;
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.origin-container {
  min-height: 100vh;
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.origin-box {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid tomato;
  border-radius: 4px;
  font-size: 17px;
}

.origin-box::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);

  /*  Animation  */
  animation: rotateWithOrigin 3000ms linear 1000ms infinite;
}

.origin-box:nth-child(1)::before {
  transform-origin: top left;
}

.origin-box:nth-child(2)::before {
  transform-origin: top center;
}

.origin-box:nth-child(3)::before {
  transform-origin: top right;
}

.box:nth-child(4)::before {
  transform-origin: center left;
}

.origin-box:nth-child(5)::before {
  transform-origin: center center;
}

.origin-box:nth-child(6)::before {
  transform-origin: center right;
}

.origin-box:nth-child(7)::before {
  transform-origin: bottom left;
}

.origin-box:nth-child(8)::before {
  transform-origin: bottom center;
}

.origin-box:nth-child(9)::before {
  transform-origin: bottom right;
}

.origin-box::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: blue;
  border-radius: 50%;
}

.origin-box:nth-child(1)::after {
  top: calc(var(--dot-size) / -2);
  left: calc(var(--dot-size) / -2);
}

.origin-box:nth-child(2)::after {
  top: calc(var(--dot-size) / -2);
  left: center;
}

.origin-box:nth-child(3)::after {
  top: calc(var(--dot-size) / -2);
  right: calc(var(--dot-size) / -2);
}

.origin-box:nth-child(4)::after {
  top: center;
  left: calc(var(--dot-size) / -2);
}

.origin-box:nth-child(5)::after {
  top: center;
  left: center;
}

.origin-box:nth-child(6)::after {
  top: center;
  right: calc(var(--dot-size) / -2);
}

.origin-box:nth-child(7)::after {
  bottom: calc(var(--dot-size) / -2);
  left: calc(var(--dot-size) / -2);
}

.origin-box:nth-child(8)::after {
  bottom: calc(var(--dot-size) / -2);
  left: center;
}

.origin-box:nth-child(9)::after {
  bottom: calc(var(--dot-size) / -2);
  right: calc(var(--dot-size) / -2);
}

@keyframes rotateWithOrigin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
